.brands{
    width: 100%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    margin-bottom: 100px; 
    justify-content: space-between;
    animation: scroll 20s linear infinite;

}


@keyframes scroll {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
}