*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body{
    background-color: #F2FeFF;
}

.container{
    width: 80%;
    margin: 0 auto;
    /* background-color: red; */
}

@media (max-width: 450px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
}



